<div class="container">
  <form [formGroup]="bioData">
    <div class="p-4">
      <input mat-input formControlName="firstName" class="form-control" />
      <div class="padding: 2px" *ngIf="fName && fName.invalid">
        Enter correct first name
      </div>
    </div>
    <div class="p-4">
      <input mat-input formControlName="lastName" class="form-control" />
      <div class="padding: 2px" *ngIf="lName && lName.invalid">
        Enter correct last name
      </div>
    </div>
    <div class="p-4">
      <select formControlName="selectData" class="form-control">
        <option *ngFor="let item of countryData" [innerHTML]="item"></option>
        {{
          selectData
        }}
      </select>
    </div>
    <br />
    <div class="">
      <button
        mat-button
        [disabled]="bioData.invalid"
        (click)="submitData(bioData.value)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
