<div class="header">
  <form [formGroup]="bioData">
    <div class="form-section">
      <input mat-input formControlName="firstName" class="form-control" />
      <div class="error-heading" *ngIf="fName && fName.invalid">
        Enter correct first name
      </div>
    </div>
    <div class="form-section">
      <input mat-input formControlName="lastName" class="form-control" />
      <div class="error-heading" *ngIf="lName && lName.invalid">
        Enter correct last name
      </div>
    </div>
    <div class="form-section">
      <select formControlName="selectData" class="form-control">
        <option *ngFor="let item of countryData" [innerHTML]="item"></option>
        {{
          selectData
        }}
      </select>
      <div class="error-heading" *ngIf="select && select.invalid">
        Select country Name
      </div>
    </div>

    <div class="form-section">
      <button
        mat-button
        [disabled]="bioData.invalid"
        (click)="submitData(bioData.value)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
